#main-container {
    font: 'Cormorant';
}

@media only screen and (max-width: 1024px) {
    #sidebar {
        text-align: center;
        margin: auto;
    }
}

#main-container h3 {
    font-weight: bold;
}

#main-container h4 {
    font-weight: bold;
}

.icon {
    vertical-align: top;
    display: inline;
}

@media only screen and (max-width: 1024px) {
    .column.is-full-tablet-mobile {
        flex: none;
        width: 100%;
    }
}