#main-container {
    font: 'Cormorant';
}

@media only screen and (max-width: 1024px) {
    #sidebar {
        text-align: center;
        margin: auto;
    }
}

#main-container h3 {
    font-weight: bold;
}

#main-container h4 {
    font-weight: bold;
}

.icon, .logo {
    vertical-align: middle;
    display: inline;
}

.icon {
	padding-right: 5px;
}

.logo {
	float: left;
	padding-right: 10px;
}

@media only screen and (max-width: 1024px) {
    .column.is-full-tablet-mobile {
        flex: none;
        width: 100%;
    }
}

.container-employer {
	display: flex;
}

.box-employer {
	display: flex;
	align-items: center;
	font-size: 1rem;
	padding-bottom: 20px;
}

.dates {
	margin-left: auto;
	display: inline-block;
	font-style: italic;
	color: #9a9ba7;
	font-size: 1rem;
}